body {
  margin: 0;
  font-family: 'Ubuntu', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(36, 41, 46);
  color: white;
  position: relative;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

input#input {
  padding: 10px 15px;
  text-align: center;
  outline: none;
  width: 400px;
  height: 50px;
  border: none;
  font-size: 2.5rem;
  background-color: rgb(38, 48, 60);
  color: rgb(121, 184, 255);
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rate {
  position: absolute;
  left: 0;
  color: rgb(146, 151, 158);
  text-align: center;
  margin: 10px;
}

.image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 10px solid rgb(121, 184, 255);
  margin-top: 2rem;
}

.name {
  font-size: 2.5rem;
  margin: 0;
}

.url {
  color: rgb(121, 184, 255);
  font-size: 2rem;
}

.info span {
  vertical-align: baseline;
  color: rgb(146, 151, 158);
  font-size: 1.2rem;
}

.card-mini {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin: 2rem 0;
}

.cards {
  padding: 5px 10px;
  text-align: center;
  background-color: rgb(38, 48, 60);
  width: 150px;
  border-radius: 10px;
  font-weight: 500;
}

.stats {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  margin: 1rem;
}

.lang{
  width: 500px;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.lang h2 {
  color: black;
  font-weight: 700;
  text-align: center;
}

.repo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 3rem;
}

.card {
  width: 300px;
  height: 200px;
  color: black;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: black;
  text-decoration: none;
}

.tags {
  display: flex;
}

.tags:last-child {
  margin-left: auto;
}

.tags p {
  margin: 0 5px;
}

button {
  padding: 20px 10px;
  background-color: rgb(121, 184, 255);
  text-align: center;
  width: 50vw;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.295);
  font-weight: 700;
  color: white;
  font-size: 1.5rem;
}

@media screen and (max-width: 400px) {
  .image {
    margin-top: 3rem;
  }
  .name {
    font-size: 2rem;
    text-align: center;
  }
  .lang {
    width: 100vw;
  }
  .card-mini {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .cards {
    width: 50vw;
  }
  .repo {
    grid-template-columns: 1fr;
    margin: 0 1rem;
  }

  .card {
    width: 100vw;
    margin: 0 1rem;
  }
}